.my-class {
  color: green;
}

.my-class .with-a-class {
  box-sizing: border-box;
}

.prfx .my-class .with-another-class:hover {
  border: 1px solid black;
}

.prfx .my-class:hover .with-another-class {
  display: flex;
}
